{% assign items = include.items %}

<ul>
{% for item in items %}
  {% comment %} Account for the baseurl to make sure we compare the full URI. {% endcomment %}
  {% capture item_url %}{{site.baseurl}}{{ item | prepend:"/docs/" | append:".html" }}{% endcapture %}
  {% capture current_url %}{{ site.baseurl }}{{ page.url }}{% endcapture %}

  {% if item_url == current_url %}
    {% assign c = "current" %}
  {% else %}
    {% assign c = "" %}
  {% endif %}

  {% for p in site.docs %}
    {% capture p_url %}{{site.baseurl}}{{p.url}}{% endcapture %}
    {% if p_url == item_url %}
      <li class="{{ c }}"><a href="{{ p_url }}">{{ p.title }}</a></li>
      {% break %}
    {% endif %}
  {% endfor %}

{% endfor %}
</ul>
