<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.baseurl }}/">Home</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/docs/">Documentation</a>
  </li>
  <li class="{% if page.url contains '/talks/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/talks/">Talks</a>
  </li>
  <li class="{% if page.url contains '/news/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/news/">News</a>
  </li>
  <li class="{% if page.url contains '/help/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/help/">Help</a>
  </li>
  <li class="{% if page.url contains '/develop/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/develop/">Develop</a>
  </li>
</ul>
