# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to you under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

RewriteEngine On

# This is a 301 (permanent) redirect from HTTP to HTTPS.

# The next rule applies conditionally:
# * the host is "calcite.apache.org",
# * the host comparison is case insensitive (NC),
# * HTTPS is not used.
RewriteCond %{HTTP_HOST} ^calcite\.apache\.org [NC]
RewriteCond %{HTTPS} !on

# Rewrite the URL as follows:
# * Redirect (R) permanently (301) to https://calcite.apache.org/,
# * Stop processing more rules (L).
RewriteRule ^(.*)$ https://calcite.apache.org/$1 [L,R=301]

# End .htaccess
