# Ignore local test configuration
local-test.properties
sharepoint-test-config.properties

# Ignore any file with credentials
*-credentials.properties
*.credentials
*-secret.properties

# IDE files
.idea/
*.iml

# Build files
target/
build/

# Logs
*.log
*.crc
.parquet_cache/*

# S3 test data cache
s3:/

# Compiled Java files
*.class
*.apericio_stats
