<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.baseurl }}/">Home</a>
  </li>
  <li class="{% if page.url contains '/downloads/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/downloads/">Download</a>
  </li>
  <li class="{% if page.url contains '/community/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/community/">Community</a>
  </li>
  <li class="{% if page.url contains '/develop/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/develop/">Develop</a>
  </li>
  <li class="{% if page.url contains '/news/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/news/">News</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/docs/">Docs</a>
  </li>
</ul>
