<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{HH:mm:ss.SSS} %logger{36}.%M() - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>